section {
  // width: 100%;
}

main .sec-01 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 50px 0 20px 0;
}

main section h4 strong {
  font-size: 25px;
}

main .sec-04 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 50px 0 20px 0;
}
