footer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #adadad;
  text-align: center;
  line-height: 50px;
  background-color: #f2f2f2;
  span {
    font-size: 11px !important;
    color: #b6b6b6;
  }
}
