@font-face {
  font-family:Noto;
  src:url(../font/NotoSansCJKkr-Regular.eot),
  url(../font/NotoSansCJKkr-Regular.woff),
  url(../font/NotoSansCJKkr-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  font-family:  'Noto Sans KR', 'Noto', 'Nanum Barun Gothic', 'Malgun Gothic', 'Noto Sans', 'sans-serif', 'Apple SD Neo Gothic', 'Raleway';
}

#id {
  width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 15px;
}
