@font-face {
  font-family: Noto;
  src: url(../font/NotoSansCJKkr-Regular.eot), url(../font/NotoSansCJKkr-Regular.woff), url(../font/NotoSansCJKkr-Regular.ttf); }
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', 'Noto', 'Nanum Barun Gothic', 'Malgun Gothic', 'Noto Sans', 'sans-serif', 'Apple SD Neo Gothic', 'Raleway'; }

#id {
  width: 100%;
  margin: 0 auto; }

main {
  margin: 0 15px; }

header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #f2f2f2; }

header .navbar {
  position: relative;
  display: block;
  width: 100%;
  height: 50px; }

header .navbar .navbar-back {
  display: block;
  width: 16px;
  height: 30px;
  background: url("../images/ic_arrow_black.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  font-size: 0;
  border: 0;
  position: absolute;
  top: 20px;
  left: 10px; }

header .navbar .navbar-brand {
  display: block;
  width: 95%;
  height: 50px;
  background: url("../images/hill_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
  font-size: 0;
  border: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 auto; }

header .navbar .navbar-menu {
  width: 30px;
  height: 30px;
  background: url("../images/ic_hamburger_black.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 10px; }

main .sec-01 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 50px 0 20px 0; }

main section h4 strong {
  font-size: 25px; }

main .sec-04 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 50px 0 20px 0; }

.card {
  background: #ffffff;
  border-radius: 10px;
  min-height: 240px;
  height: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .card > span {
    display: inline-block;
    margin-top: 20px;
    border: 0; }
  .card ul.flex-container {
    display: flex;
    align-items: center; }
    .card ul.flex-container li {
      justify-content: space-around;
      padding: 0 !important;
      margin-bottom: 0 !important;
      border-bottom: 1px solid #efebef !important;
      line-height: 1.7 !important;
      padding: 20px 0 !important; }

.card .contract {
  padding: 15px;
  font-size: 14px;
  border: 2px solid #f2f2f2;
  color: #666666; }

.card .contract strong {
  font-size: 22px;
  color: black;
  font-weight: bold; }

.card .contract ul li {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  vertical-align: middle;
  font-family: 'Noto';
  width: 100%; }
  .card .contract ul li span {
    color: #333333; }

.card .contract ul li:first-child {
  padding: 25px 0;
  border-bottom: 1px solid #efebef;
  margin-bottom: 20px;
  line-height: 25px; }

.card .contract ul li:nth-child(3) {
  float: left; }

.float-r {
  float: right;
  font-weight: bold; }

section span {
  color: #a3a3a3;
  font-weight: normal !important; }

section span.underline {
  text-decoration: underline;
  font-weight: bold !important; }

.sec-01 .text-box {
  display: block;
  background-color: #f2f2f2;
  width: 100%;
  height: 140px;
  margin-top: 30px;
  color: #000000; }
  .sec-01 .text-box span {
    display: block;
    color: #000000;
    padding: 20px; }

.sec-01 > span {
  font-weight: normal; }

.sec-02 {
  position: relative; }

.sec-02-title {
  margin: 50px 0 30px 0;
  width: 100%; }
  .sec-02-title .line {
    display: inline-block;
    width: 38%;
    height: 1px;
    background: url("../images/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle; }
  .sec-02-title h4 {
    display: inline-block;
    width: 20% !important;
    white-space: pre; }

.sec-02 h4 {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #951e1e; }

.sec-02 .down {
  width: 100%;
  height: 160px;
  margin-bottom: 70px; }
  .sec-02 .down span:nth-child(1) {
    display: inline-block; }
  .sec-02 .down span:nth-child(2) {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
  .sec-02 .down span:nth-child(3) {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black; }

.sec-02 .down strong {
  font-weight: bold;
  font-size: 17px !important;
  color: black;
  margin-left: 5px; }

.sec-02 .down span {
  font-weight: bold;
  font-size: 16px !important;
  color: black; }
  .sec-02 .down span .square-dot {
    display: inline-block;
    width: 8px;
    height: 10px;
    background: url("../images/square_dot.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center -2px; }

.sec-03 {
  width: 100%;
  text-align: center;
  margin-bottom: 70px; }

.explain-box {
  display: inline-block;
  margin: 20px 0 60px 0;
  text-align: left; }

.sec-03 .explain {
  color: #000000; }

.explain:nth-child(2) {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: bold !important; }

.font-black {
  margin-top: 10px !important;
  color: #000000 !important;
  font-size: 14px !important; }

.sec-04 > span {
  display: block;
  width: 100%;
  text-align: center; }

#table-wrap {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all; }

.table {
  width: 99%;
  display: table;
  margin: 0;
  border-collapse: collapse; }

.table .row {
  display: table-row; }

.table .cell {
  padding: 15px 0 15px 0;
  font-size: 14px;
  border-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #a3a3a3;
  border-bottom: 0; }

.table .cell.hidden {
  display: hidden !important; }

.table div:nth-child(9) div {
  border-bottom: 1px solid #a3a3a3; }

.table .border-b .col-1 {
  border-right: 0; }
  .table .border-b .col-1 .cell {
    border: 0; }

.table .row.header.border {
  padding: 10px 0; }

.table .row.header.border .cell {
  background-color: #a3a3a3;
  text-align: center;
  color: #000000;
  font-weight: bold !important;
  font-size: 13px !important;
  margin: 10px 0 10px 0; }

.table .row .col-1,
.table .row .col-2 {
  border-right: 0;
  vertical-align: center;
  text-align: center;
  padding: 10px 15px 10px 15px; }

.table .row .col-3 {
  border-right: 1px solid #a3a3a3; }

.table .col-3 {
  padding: 0 10px 0 10px;
  white-space: normal !important; }

div.colspan > div {
  width: 1px;
  border: 0; }

div.colspan > div > div {
  display: hidden;
  position: relative;
  width: 100%;
  margin-left: 30px; }

.table .hidden {
  border-left: 0; }

#table-wrap {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all; }

.accordian {
  width: 99%;
  display: table;
  margin: 0;
  border-collapse: collapse; }

.accordian .row {
  display: table-row; }

.accordian .cell {
  padding: 15px 0 15px 0;
  font-size: 14px;
  border-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 0; }

.accordian .cell.hidden {
  display: hidden !important; }

.accordian div:nth-child(9) div {
  border-bottom: 1px solid #a3a3a3; }

.accordian .border-b .col-1 {
  border-right: 0; }
  .accordian .border-b .col-1 .cell {
    border: 0; }

.accordian .row.header.border {
  padding: 10px 15px 10px 15px; }

.accordian .row.header.border .cell {
  background-color: #a3a3a3;
  text-align: center;
  color: #000000;
  font-weight: bold !important;
  font-size: 13px !important;
  margin: 10px 0 10px 0; }

.accordian .row .col-1 {
  border-right: 0;
  text-align: center;
  padding: 10px 15px 10px 15px; }

.accordian .row .col-2 {
  padding: 5px 10px 5px 10px;
  white-space: normal !important; }

.accordian .row .col-1 {
  border-left: 1px solid #a3a3a3;
  border-bottom: 0; }

.accordian .row:nth-child(19) .col-1 {
  border-left: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3; }

.accordian .row:nth-child(22) .col-1 {
  border-left: 1px solid #a3a3a3; }

.accordian .row:nth-child(22) .col-2 {
  border-left: 1px solid #a3a3a3;
  border-bottom: 0; }

.accordian .row:nth-child(1) .col-2 {
  border-bottom: 0 !important; }

.accordian .row .col-2 {
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3; }

.accordian-02 {
  display: table;
  width: 99%;
  margin: 0;
  border-collapse: collapse;
  white-space: nowrap; }

.accordian-02 .row {
  display: table-row; }

.accordian-02 .row:nth-child(1) {
  border-top: 1px solid #a3a3a3; }

.accordian-02 .row:nth-child(2) {
  border-bottom: 1px solid #a3a3a3; }

.accordian-02 .cell {
  display: table-cell;
  font-size: 14px; }

.accordian-02 .row .col-1,
.accordian-02 .row .col-2 {
  border-right: 0;
  text-align: center; }

.accordian-02 .row .col-1,
.accordian-02 .row .col-2 {
  border-left: 1px solid #a3a3a3;
  position: relative;
  padding: 0px 6px 0 5px; }

.accordian-02 .row .col-3 {
  white-space: normal;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 10px 5px 10px; }

.accordian-02 .row:nth-child(1) .col-1,
.accordian-02 .row:nth-child(1) .col-2 {
  border-bottom: 0 !important; }

.accordian-02 .row:nth-child(1) .col-1,
.accordian-02 .row:nth-child(1) .col-2,
.accordian-02 .row .col-3 {
  border-right: 1px solid #a3a3a3; }

.accordian-02 .row:nth-child(2) .col-1,
.accordian-02 .row:nth-child(2) .col-2,
.accordian-02 .row .col-3 {
  border-right: 1px solid #a3a3a3; }

footer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #adadad;
  text-align: center;
  line-height: 50px;
  background-color: #f2f2f2; }
  footer span {
    font-size: 11px !important;
    color: #b6b6b6; }

.font-gray {
  color: #a3a3a3 !important; }

/*# sourceMappingURL=style.css.map */
