section span {
  color: #a3a3a3;
  font-weight: normal !important;
}

section span.underline {
  text-decoration: underline;
  font-weight: bold !important;
}




//////////section-01//////////

.sec-01 .text-box {
  display: block;
  background-color: #f2f2f2;
  width: 100%;
  height: 140px;
  margin-top: 30px;
  color: #000000;
  span {
    display: block;
    color: #000000;
    // letter-spacing: 1px;
    padding: 20px;
  }
}

.sec-01 > span {
  font-weight: normal;
}




//////////section-02//////////

.sec-02 {
  position: relative;
}

.sec-02-title {
  margin: 50px 0 30px 0;
  width: 100%;
  .line {
    display: inline-block;
    width: 38%;
    height: 1px;
    background: url("../images/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    // background-position: center;
    vertical-align: middle;
  }
  h4 {
    display: inline-block;
    width: 20% !important;
    white-space: pre;
  }
}

.sec-02 h4 {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #951e1e;
  // letter-spacing: 10px;
}


.sec-02 .down {
  width: 100%;
  height: 160px;
  margin-bottom: 70px;
  span:nth-child(1){
    display: inline-block;
  }
  span:nth-child(2) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    // border: 1px solid aqua;
  }
  span:nth-child(3) {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
  }
}

.sec-02 .down strong {
  font-weight: bold;
  font-size: 17px !important;
  color: black;
  margin-left: 5px;
}

.sec-02 .down span {
  font-weight: bold;
  font-size: 16px !important;
  color: black;
  .square-dot {
    display: inline-block;
    width: 8px;
    height: 10px;
    background: url("../images/square_dot.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center -2px;
  }
}




//////////section-03//////////

.sec-03 {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.explain-box {
  display: inline-block;
  margin: 20px 0 60px 0;
  text-align: left;
}

.sec-03 .explain {
  color: #000000;
}

.explain:nth-child(2) {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: bold !important;
}

.font-black {
  margin-top: 10px !important;
  color: #000000 !important;
  font-size: 14px !important;
}



//////////section-04//////////

.sec-04 > span {
  display: block;
  width: 100%;
  text-align: center;
}
