@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  // 40%, 60% {
  //   transform: translate3d(0, 50%, 0);
  // }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// @keyframes showleftText {
//   0% {
//     transform: translate3d(100%, 0, 0);
//   }
//   40%, 60% {
//     transform: translate3d(50%, 0, 0);
//   }
//   100% {
//     transform: translate3d(0, 0, 0);
//   }
// }
//
@keyframes showrightText {
  0% {
    transform: translate3d(200%, 40%, 0);
  }
  100% {
    transform: translate3d(0, 40%, 0);
  }
}

@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}



.animated-title-01 {
  color: #ffffff;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  > div {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }

  > div div {
    font-size: 2.6rem;
    font-weight: 400;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  > div.text-top div span:first-child {
    font-size: 3.4rem;
    font-weight: 500;
  }

  > div div span {
    display: block;
  }

  > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }

  > div.text-bottom {
    bottom: 0;
  }

  > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
}



.animated-title-02 {
  color: #ffffff;
  height: 45rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  > div {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
  // > div div {
  //   font-size: 2.6rem;
  //   font-weight: 400;
  //   position: absolute;
  //   width: 100%;
  //   text-align: center;
  // }
  > div.text-top {
    width: 100%;
    top: 50px;
  }

  > div.text-top h2 {
    font-size: 3rem;
    animation: showTopText 0.8s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, -100%);
  }

  > div.text-top .text-top-01 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 500;
    animation: showTopText 0.8s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    top: 0;
    bottom: 0;
    transform: translate(0, -210%);
  }

  > div.text-top .text-top-02 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 500;
    animation: showTopText 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    top: 0;
    bottom: 0;
    transform: translate(0, -230%);
  }
  // > div div span {
  //   display: block;
  // }
  > div.text-bottom {
    bottom: 0;
  }

  > div.text-bottom button {
    animation: showBottomText 0.8s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -150%);
  }
}

label.next:focus .animated-title-02 {
  > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
}

.animated-title-03 {
  color: #ffffff;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  > div.text-top {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }

  // > div div span {
  //   display: block;
  // }

  > div.text-top h2 {
    font-size: 3rem;
    animation: showFade 0.8s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    opacity: 0;
    // transform: translate(200%, 0);
    text-align: center;
    position: absolute;
    top: 55%;
    left: 47%;
  }

  > div.text-middle {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 40%;

    h3:nth-child(1) {
      display: block;
      animation: showFade 0.8s;
      animation-delay: 2.5s;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    h3:nth-child(2) {
      display: block;
      animation: showFade 0.8s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }

  > div.text-bottom {
    bottom: 0;
  }

  > div.text-bottom .btn-service-r {
    animation: showFade 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 46.5%;
    opacity: 0;
    // transform: translate(0, -100%);
  }
}

.animated-title-04 {
  color: #ffffff;
  height: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  overflow: hidden;

  > div {
    // width: 50%;
    height: 20%;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
  // > div div {
  //   font-size: 2.6rem;
  //   font-weight: 400;
  //   position: absolute;
  //   width: 100%;
  //   text-align: center;
  // }
  > div.text-top {
    width: 100%;
    top: 20%;
  }

  > div.text-top h2 {
    width: 100%;
    font-size: 3rem;
    animation: showrightText 0.8s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(200%, 0);
    text-align: center;
  }
  // > div.text-top .text-top-01 {
  //   display: inline-block;
  //   font-size: 2.5rem;
  //   font-weight: 500;
  //   animation: showTopText 0.8s;
  //   animation-delay: 2.5s;
  //   animation-fill-mode: forwards;
  //   top: 0;
  //   bottom: 0;
  //   transform: translate(0, -210%);
  // }
  > div.text-right {
    top: 40%;
    left: 23%;
    text-align: center;
    h3:nth-child(1) {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      animation: showrightText 0.8s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      top: 20%;
      left: -10%;
      bottom: 0;
      transform: translate(200%, 0);
      text-align: center;
      width: 100%;
    }
    h3:nth-child(2) {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      animation: showrightText 0.8s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      top: 20%;
      bottom: 0;
      transform: translate(200%, 0);
      text-align: center;
      width: 100%;
    }
  }

  > div.text-bottom {
    bottom: 0;
  }

  > div.text-bottom {
    display: block;
    animation: showrightText 0.8s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    transform: translate(200%, 0);
    text-align: center;
    top: 58%;
    left: 25%;
    width: 50%;
  }
}
