div {
  margin-top: 1rem;
  ul {
    display: flex;
    justify-content: center;
    li {
      padding: 1rem 2rem;
      margin: 0 1rem;
      font-size: 1.6rem;
      background: #fcf1ff;
      font-weight: bold;
      label {
        width: 100%;
        height: 100%;
      }
    }
  }
}

section {
  margin: 1rem 0;
  width: 100%;
  display: none;
  &.section-one {
    background: #b3f198;
  }
  &.section-two {
    background: #98f1e4;
  }
  &.section-three {
    background: #98b3f1;
  }
  div {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
