section {
  margin: 0 15px 0 15px;
  // width: 100%;
}

section span {
  color: #a3a3a3;
  font-weight: normal !important;
}

section hr {
  display: inline-block;
  width: 170px;
  vertical-align: middle;
  border: 1px solid #a3a3a3;
}

main .sec-01 h4,
main .sec-04 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 50px 0 20px 0;
}

main section h4 strong {
  font-size: 25px;
}

.underline {
  text-decoration: underline;
  font-weight: bold !important;
}



///////////////section-01///////////////

.sec-01 {
  // width: 95%;
  span {
    font-weight: normal;
  }
}

.sec-01 .text-box {
  margin: 40px 0 20px 0;
  span {
    display: inline-block;
    margin-bottom: 10px;
    color: #000000;
  }
  strong {
    font-size: 16px;
  }
}



///////////////section-02///////////////

.sec-02 {
  // margin: 0 15px;
  // width: 100%;
}

.sec-02-title {
  width: 100%;
  margin: 50px 0 30px 0;
  .line {
    display: inline-block;
    width: 38%;
    height: 1px;
    background: url("../images/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    // background-position: center;
    vertical-align: middle;
  }
  h4 {
    display: inline-block;
    width: 20% !important;
    white-space: pre;
  }
}

.sec-02 h4{
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #951e1e;
}

.sec-02 .down {
  // width: 100%;
  height: 160px;
  margin-bottom: 75px;
  span {
    display: block;
  }
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    display: block;
  }
}

.sec-02 .down strong {
  font-weight: bold;
  font-size: 17px !important;
  color: black;
  margin-left: 5px;
}

.sec-02 .down span {
  font-weight: bold;
  font-size: 16px !important;
  color: black;
  .square-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../images/square_dot.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center -2px;
  }
  span:nth-child(1) {
    margin-bottom: 5px;
  }
  span:nth-child(5) {
    margin-bottom: 20px;
  }
}




///////////////section-03///////////////

.sec-03 {
  // width: 95%;
  margin-bottom: 70px;
  text-align: center;
}

.explain-box {
  display: inline-block;
  margin: 20px 0 60px 0;
  text-align: left;
}

.sec-03 .explain {
  color: #000000;
  font-size: 16px;
}

.explain:nth-child(2) {
  display: block;
  // width: 100%;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: bold !important;
}

.font-black {
  // width: 95%;
  margin-top: 0px !important;
  margin-bottom: 20px;
  color: #000000 !important;
  font-size: 14px !important;
}



///////////////section-04///////////////

.sec-04 h4 {
  color: #951e1e;
  font-size: 20px;
  margin: 0px 0 10px 0;
  strong {
    font-size: 25px;
  }
}

.sec-04 > span {
  display: block;
  // width: 100%;
  text-align: center;
}



///////////////section-05///////////////

.sec-05 {
  margin-top: 30px;
  margin-bottom: 50px;
  // width: 95%;
}

.sec-05 span {
  font-weight: bold;
  font-size: 16px !important;
  color: black;
  margin-left: -5px;
  .square-dot {
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url("../images/square_dot.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center -2px;
  }
}

.sec-05 > span {
  display: block;
  margin-bottom: 10px;
}

.color-black {
  color: #a3a3a3 !important;
  text-align: center;
  font-weight: normal;
  font-size: 15px !important;
}
