

////////////
// bounce
////////////

@keyframes bounce {
  0%,
  100%,
  20%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce:hover {
  animation-name: bounce;
}

.text-box > div:hover > .bounce-h {
  animation-name: bounce;
}

////////////
// pulse
////////////

@keyframes pulse {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.text-box > div:hover > .pulse-h {
  animation-name: pulse;
}

////////////
// rubberband
////////////

@keyframes rubberband {
  0% {
    transform: scale(1.0);
  }

  20% {
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    transform: scale(1.0);
  }
}

.text-box > div:hover > .rubberband-h {
  animation-name: rubberband;
}

////////////
// shake
////////////

@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.text-box > div:hover > .shake-h {
  animation-name: shake;
}

////////////
// hinge
////////////

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top right;
    animation-timing-function: ease-in-out;
  }

  20% {
    transform: rotate(-80deg);
    transform-origin: top right;
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: rotate(-60deg);
    transform-origin: top right;
    animation-timing-function: ease-in-out;
  }

  60% {
    transform: rotate(-80deg);
    transform-origin: top right;
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: rotate(-60deg) translateY(0);
    transform-origin: top right;
  }

  100% {
    transform: translateY(700px);
    animation-timing-function: ease-in-out;
  }
}

.text-box > div:hover > .hinge-h {
  margin: 10px;
  animation-name: hinge;
}

////////////
// yflip
////////////

@keyframes yflip {
  0% {
    transform: translateZ(0) rotateY(0) scale(1) perspective(400px);
    animation-timing-function: ease-out;
  }

  30% {
    transform: translateZ(150px) rotateY(170deg) scale(1) perspective(400px);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateZ(150px) rotateY(190deg) scale(1) perspective(400px);
    animation-timing-function: ease-in;
  }

  80% {
    transform: translateZ(0) rotateY(360deg) scale(0.90) perspective(400px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateZ(0) rotateY(360deg) scale(1) perspective(400px);
    animation-timing-function: ease-in;
  }
}

.text-box > div:hover > .yflip-h {
  animation-name: yflip;
}

////////////
// no-namex
////////////

@keyframes no-nameX {
  0% {transform: rotateX(80deg) scale(1)}
  16.6% {transform: rotateX(-75deg) scale(1)}
  33% {transform: rotateX(70deg) scale(0.9)}
  50% {transform: rotateX(-65deg) scale(1)}
  68% {transform: rotateX(50deg) scale(0.9)}
  80% {transform: rotateX(-30deg) scale(0.9)}
  100% {transform: rotateX(0deg) scale(1)}
}

.text-box > div:hover > .no-namex-h {
  animation-name: no-nameX;
}

////////////
// no-namey
////////////

@keyframes no-nameY {
  0% {transform: rotateY(80deg)}
  16.6% {transform: rotateY(-75deg)}
  33% {transform: rotateY(70deg)}
  50% {transform: rotateY(-65deg)}
  68% {transform: rotateY(50deg)}
  80% {transform: rotateY(-30deg)}
  100% {transform: rotateY(0deg)}
}

.text-box > div:hover > .no-namey-h {
  animation-name: no-nameY;
}

////////////
// borderRadius
////////////

@keyframes borderRadius {
  0% {
    border-radius: 0%;
  }
  50% {
    transform: rotateY(-50deg);
    border-radius: 30%;
  }
  100% {
    transform: rotateY(0deg);
    border-radius: 0%;
  }
}

.text-box > div:hover > .radius-h {
  animation-name: borderRadius;
}

////////////
// hinge-X-drop
////////////

@keyframes hingeXdrop {
  0% {
    transform: rotate(0);
    transform-origin: top;
    animation-timing-function: ease-in-out;
  }

  20% {
    transform: rotateX(-180deg);
    transform-origin: bottom;
    animation-timing-function: ease-in-out;

  }

  30% {
    transform: rotate(-120deg) rotateX(-180deg);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;

  }

  40% {
    transform: rotate(-30deg) rotateX(-180deg) rotateY(0);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;

  }

  50% {
    transform: rotate(-80deg) rotateX(-180deg) rotateY(0);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;

  }

  60% {
    transform: rotate(-50deg) rotateX(-180deg) rotateY(0);
    transform-origin: bottom right;
    animation-timing-function: ease-in-out;

  }

  80% {
    transform: rotate(-75deg) rotateX(-180deg) rotateY(0);
    transform-origin: bottom right;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    background-color: #37b2ba;
  }

  90% {
    background-color: #37b2ba;
    background: -webkit-linear-gradient(to right, #6ab5ba, #37b2ba);
    background: linear-gradient(to right, #6ab5ba, #37b2ba);
  }

  100% {
    transform: rotateZ(30deg) translateY(700px);
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
    background: #37b2ba;
    background: -webkit-linear-gradient(to right, #96deda, #37b2ba);
    background: linear-gradient(to right, #96deda, #37b2ba);
    color: white;
  }
}

.text-box > div:hover > .hinge-x-drop-h {
  margin: 10px;
  animation-name: hingeXdrop;
  animation-duration: 4s;
}

// ---------------------------------------------------------------


@keyframes flip-box {
  0% {margin-top:-240px;}
  16.6% {margin-top:-200px;}
  33.6% {margin-top:-160px;}
  50.2% {margin-top:-120px;}
  66.8% {margin-top:-80px;}
  83.4% {margin-top:-40px;}
  99.9% {margin-top:0px;}
  100% {margin-top:-200px;}
}
