div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: black;
  }
}
